<div class="log-form" id="edit-location">
	<h2><%= viewMode === 'new' ? 'Add' : 'Edit' %> location</h2>
	<form method="POST">
		<input class="input" type="text" name="name" placeholder="location name" value="<%= typeof location === 'undefined' ? '' : location.name  %>"/>
		<input class="input" type="date" name="captureDate" placeholder="capture date" value="<%= typeof location === 'undefined' ? '' : new Date(location.captureDate).toLocaleDateString() %>"/>
		<input class="input" type="text" name="desc" placeholder="description" value="<%= typeof location === 'undefined' ? '' : location.description %>"/>
		<input class="input" type="url" name="url" placeholder="image URL" value="<%= typeof location === 'undefined' ? '' : location.url %>"/>
		<input type="submit" class="btn" href="/" value="Save"
			onclick="document.getElementById('_popover').style.display = 'none'; document.getElementById('edit-location') = null;" />
		<input type="submit" class="btn btn-delete" href="/" value="Delete"
			onclick="document.getElementById('_popover').style.display = 'none'; document.getElementById('edit-location') = null;" />
	</form>
</div>